Libraries to be installed

os
torch
torchvision
PIL
skimage

Download models from the link specified in Readme of the Repository

Training code of Feature Fusion Attention Network Architecture (FFA-Net) can also be accessed from the google drive link provided in Readme of Repository
